@model Message

<div class="message col-lg-12">
    <div class="justify-content-between row mb-1">
        <div class="col-lg-8 text-lg-left font-weight-bold">
            @Model.SenderName [@Model.SenderProfile]
            @if (Model.IsPrivate)
            {
                <i> -- Private -- </i>
            }
        </div>
        <div class="col-lg-4 text-md-right">@Model.SentOn</div>
    </div>
        
    <div class="col-lg-12 text-left pb-1">@Model.Text</div>
</div>

<style>
    .message {
        max-width: 100%;
        border: solid 2px rgb(30 52 75 / 0.60);
        border-radius: 10px;
        margin: 0.4em auto 0 auto;
    }
</style>